<footer>
  <!-- recent posts -->
  <div class="news container py-3" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true">
    {{ if .Site.Params.recentposts }}
    <!-- <div class="h3 text-center text-dark py-3 font-weight-bold">Recent posts</div>
    <div class="row justify-content-center">

    </div> -->
    {{ end }}
  </div>
  {{ if .Site.Params.socialiconfooter }}

  <div class="text-center">
    {{ if .Site.Params.github }}

    {{ end }}

    {{ if .Site.Params.linkedin }}

    {{ end }}

    {{ if .Site.Params.twitter }}

    {{ end }}

    {{ if .Site.Params.instagram }}

    {{ end }}

    {{ if .Site.Params.facebook }}

    {{ end }}
  </div>
  {{ end }}
  <div class="container bg-transparent py-4">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center order-2 order-lg-1 order-md-1">
        <div class="pb-2">
          <a href="{{ .Site.BaseURL }}">
            <img alt="Footer logo" src="{{ .Site.Params.favicon | default " /images/favicon.png"}}" height="40px"
              width="40px">
          </a>
        </div>
        &copy; {{ dateFormat "2006" now }} All Rights Reserved
        <div>
          Made with &#10084; and Designed and Developed by
          <a href="https://www.linkedin.com/in/gurusabarish/" target="_blank">rizca</a>
        </div>
      </div>
    </div>
  </div>
</footer>